body {
	font-family: "squarespace-ui-font","Palatino Linotype", "Book Antiqua", Palatino, serif;
	background-color: #FFFFFF;
	margin:0;
	padding:0;
	position: relative;
}
p{
	font-family: "squarespace-ui-font","Palatino Linotype", "Book Antiqua", Palatino, serif;
	line-height: 200%;
	font-size:1.3em;
}
header{
	width:100%;
	background-color: black;
	color:white;
	padding-left:10px;
	margin:0;
	padding-top:0px;
	overflow: hidden;
	opacity: 0.7;
	margin-bottom:10px;
}
h1{
	margin-top: 0;
	font-size: 2em;
}
hgroup{
	width: 70%;
	float: left;
}
hgroup h1{
	padding-top: 0;
	margin: 0;
	line-height: 2em;
}
header nav{
	width: 30%;
	float:right;
}
header nav ul{
	list-style-type: none;
}
header nav li{
	float:left;
	margin-right: 7px;
	color: green;
}
h2{
	font-size: 1.6em;
}
h3{
	font-size: 1.2em;
}
section{
	width:60%;
	margin-right: auto;
	margin-left: auto;
}
footer{
	width: 60%;
	margin-right: auto;
	margin-left: auto;
}